---
export interface Props {
	img: string;
	logo: string;
	title: string;
	body: string;
    cta: string;
    cta2: string;
}

const { img, logo, title, body, cta, cta2 } = Astro.props;
---

<div class="descuentos edu-box">
    <div class="banner-1">

    </div>
    <div class="text-banner-1">
	  <img src={img} alt="el logo pantriste">
      <h3>{title}</h3>
      <p>{body}</p>
	  <br>
      <a  href={cta} target="_blank" class="cta-beneficios">Comprar ahora</a>
	  <!-- <a href={cta2}>El cta2 chitrulo</a> -->
    </div>
</div>  

<style>
	.text-banner-1{
    width: 700px;
    margin: 0px auto;
    text-align: left;
}

.text-banner-1 p{ width: 600px; line-height: 2;text-align: left;margin-bottom: 0px;}

  
    
    
	.cta-beneficios{
    font-size: 16px;
    font-weight: bold;
    padding: 13px 50px;
    background: #294E95;
    color: #ffffff;
    border: 1px solid;
    border-radius: 5px;
}

.cta-beneficios:hover{
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 50px;
    background: #EAEEF5;
    color: #0e5780;
    border-radius: 3px;
    border: 1px solid #0e5780;
}
	h1{
      color: #fff;
      line-height: initial;
      font-weight: 500;
    }
  h3{
    font-size: 2em;
    color: #000;
  }
  .text-left{
      margin-left: 15%;
    }
	@media (max-width: 1875px){
		.text-banner-1{
  padding: 20px;
}
	}

	@media (max-width: 1200px){
		h3{
        font-size: 26px;
    }  
	.text-banner-1 h3 {
        margin-top: 30px;
    }
      .text-banner-1{
              text-align: center;
    width: 100%;
    
  }
  
  .text-banner-1 p{
            width: 100%;
            text-align: center;
            /* padding: 20px; */
            font-size: 14px;
}
h1{
      font-size: 25px;
    }
	}
</style>